body{
  padding:0;
  margin:0;

}

.overlay-show{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0);
  pointer-events:none;
  z-index:2;
  transition: all 0.35s ease-in-out;
}

.block{
  width: 10px;
  height: 100vh;
}

.bili{
  width:200px;
  /* border:red solid 1px; */
}

img{
  position:relative;
  left:100px;
  transition:all 0.35s ease-in-out;
}